a {
    text-decoration: none;
}
button {
    float: right;
    margin: 10px;
}
button a {
    color: #ffffff;
}
.app-header {
    position: relative;
    padding: 10px;
    width: 100%;
    height: auto;
}
nav.digitalBook {
    justify-content: space-between;
    background-color: darkgreen;
}
h1 {
    margin-left: 5rem;
    color: hsl(86, 93%, 47%);
}